
<div class="banner_image"><%= image_tag 'rsz1_pan64.jpg', alt: 'banner-image' %></div>


<p class='breadcrumbs'><a href="<%= root_url %>">Home</a> > <a href="<%= root_url %>">Chicago</a> > <a href="<%= root_url %>"><%= @photo.main_cat.titleize  %></a> > <a href="<%= root_url %>"><%= @photo.sub_cat.titleize  %></a></p>

<div class="detail_container">


    <div class='feature_container'>
      <div class='feature'>

        <p><a href='/assets/<%= @photo.id_num %>.jpg' class='image-link'>
          <img class='feature' src='<%= @photo.image %>'>

        </a></p>
        <p class='artist'>Photographed by Bob Horsch</p>
        <p class='social_buttons' ><img src='/assets/SocialButtons.jpg'></p>

      </div>
    </div>



    <div class="detail_prod_info_container">
      <div class='detail_prod_info'>
        <h1 class='photo_title_detail'><%= @photo.title %></h1>

  <div class="box0">
    <div class="label_container">
      <p class='mylabel'><%= label_tag 'choose-photo_size', 'Choose Your Size:'  %></p>
      <p class='mylabel'><%= label_tag 'choose_mat', 'Mat Color:' %></p>
      <p class='mylabel'><%= label_tag 'choose_frame', 'Frame Style:' %></p>
      <p class='mylabel'><%= label_tag 'price', 'Price:' %></p>
      <p class='mylabel'><%= label_tag 'qty', 'Quantity:' %></p>
    </div>

    <div class='field_container'>
       <p><%= select_tag 'choose-size', "<option>8x10 Photo Only</option><option>8x10 Photo w/ 11x14 Mat</option><option>8x10 Photo w/ 11x14 Mat - Framed</option>".html_safe %></p>
      <p><%= select_tag 'choose_mat', "<option>Fog / Black</option><option>Bright White</option>".html_safe %></p>
      <p><%= select_tag 'choose_frame', "<option>Classic Black - Thin Rounded</option><option>Classic Black - Wide Flat</option>".html_safe %></p>
      <p><%= label_tag 'price','$149',  class:'price' %></p>
      <p><%= select_tag 'qty', "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>".html_safe %></p>
    </div>


        <%= submit_tag 'Add To Cart', class:'addcart' %>


    </div>




        <p class = "product_text"><%= @photo.desc %></p>
      </div>
    </div>

<div class='ribbon-wrapper'>
<h4 class='title_showcase'>Customers Also Viewed</h4>
    <div class="ribbon container_backdrop">
  <% @photos.each do |photo| %>
    <%= link_to image_tag(photo.image, class: "poster-container"), photo_url(photo.id) %>
  <% end %>
</div>
</div>

<script>

$(function() {

  $('.image-link').magnificPopup({

    type:'image'

  });
});

</script>


</div>

