<!DOCTYPE html>
<html>
<head>
  <title>ShoppingCart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="/assets/magnific-popup.css">

<!-- Magnific Popup core JS file -->
<script src="/assets/jquery.magnific-popup.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>


<div class="container_body">

<header>

  <a href=<%= root_url %>><%= image_tag 'horschlogo.jpg', alt: 'logo', class: 'logoimage' %></a>
    <nav class="topbar">
    <li><h2><a href="#">Browse All Photos</a></h2></li>
    <li><h2><a href="#">The Photographers</a></h2></li>
    <li><h2><a href="#">Photo Options</a></h2></li>
    <li class='shopping_cart'><h2 class='shopping_cart_bin'><a href="#"><i class="fa fa-shopping-cart"></i>&nbsp&nbspShopping Cart</a></h2></li>
  </nav>
</header>

<%= yield %>

<footer>
  <li>Contact Us</li>
  <li>Terms & Conditions</li>
  <li>Privacy Policy</li>
</footer>

</div>
</body>
</html>
